<div class="row">
  <div class="medium-4 columns" >
      <p></p>
  </div>
  <div class="medium-4 columns" style="background-color:light-gray;">
<div class="panel">

<h2><%= @user.name %></h2>
<%= @user.email %>
    </div>
  </div>
  <div class="medium-4 columns">
      <p></p>
  </div>
</div>
            <% @articles.each do |article| %>
                    <div class="panel">
                          <h3><%= article.title %></h3>
                          <p><%= article.content %></p>
                    <%if article.user_id == current_user.id%>
                        <ul class="button-group radius">
                            <li><%= link_to 'Editar', edit_article_path(article), class:"button warning" %></li>
                            <li><%= link_to 'Remover', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"button alert" %></li>
                        </ul>
                    <%end%>
                        </div>
            <%end%>
