<p id="notice"><%= notice %></p>
<div class="row">
    <div class="large-4 medium-12 small-12 columns center">
    <div class="panel">
        <table>
        <h5>Siga novos usuários!</h5>
            <% @users.each do |user| %>
                  <%if !current_user.follows?(user)%>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= link_to 'Perfil', user, class:"button"%></td>
                        <td><%= link_to 'Seguir', follow_path(user), class:"button success"%></td>
                    </tr>
                <%end%>
            <% end %>
            </table>
        <h5>Quem você segue!</h5>
            <table>
                <% @users.each do |user| %>
                  <tr>
                      <%if current_user.follows?(user)%>
                      <td><%= user.name %></td>
                      <td><%= link_to 'Perfil', user, class:"button"%></td>
                      <td><%= link_to 'Não Seguir', unfollow_path(user), class:"button alert" %></td>
                      <%end%>
                  </tr>
                <% end %>
            </table>
        </div>
    </div>
    <div class="large-8 medium-12 small-12 columns center">
    <h3>Postagens de quem você segue!</h3>

          <% @articles.each do |article| %>
            <% @users.each do |user| %>
                <%if user.id == article.user_id and current_user.follows?(user)%>
                    <div class="panel">
                          <h3><%= article.title %></h3>
                          <p><%= article.content %></p>
                    <%if article.user_id == current_user.id%>
                        <ul class="button-group radius">
                            <li><%= link_to 'Editar', edit_article_path(article), class:"button warning" %></li>
                            <li><%= link_to 'Remover', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"button alert" %></li>
                        </ul>
                    <%end%>
                        </div>
                <%end%>
            <%end%>
        <%end%>
        <h3>Suas Postagens!</h3>
        <%= link_to 'Nova Postagem', new_article_path, class:"button success" %>

          <% @articles.each do |article| %>
            <%if current_user.id == article.user_id%>
                    <div class="panel">
                          <h3><%= article.title %></h3>
                          <p><%= article.content %></p>
                    <%if article.user_id == current_user.id%>
                        <ul class="button-group radius">
                            <li><%= link_to 'Editar', edit_article_path(article), class:"button warning" %></li>
                            <li><%= link_to 'Remover', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"button alert" %></li>
                        </ul>
                    <%end%>
                        </div>
                <%end%>
            <%end%>
    </div>
</div>
    <br>

